* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-container {
  background-color: #f4faff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-container {
  min-width: 80vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}
.main-heading {
  color: #171f46;
  text-align: center;
}
@media (min-width: 992px) {
  .main-heading {
    font-size: 50px;
  }
}
.main-paragraph {
  color: #64748b;
  text-align: center;
}
@media (min-width: 992px) {
  .main-paragraph {
    font-size: 30px;
  }
}
.cards-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 992px) {
  .cards-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
